<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>鑑賞予定・鑑賞済みライブの日程登録</h1>

    <div>
        <p>管理者</p>
        <p><a href="">ログアウト</a></p>
    </div>

    <div>
        <form action="" method="post">
            <p> <a href="">ライブ日程一覧</a></p>
            <p>閲覧者の登録</p>
            <p>日付
                <input type="date" name="lived_at">
            </p>

            <p>開催場場所
                <input type="text" name="place" id="">
            </p>

            <p>主催者
                <input type="text" name="organizer" id="">
            </p>

            <p>目当てのアーティスト
                <input type="checkbox" name="artist" value="1">KZUIRA
                <input type="checkbox" name="artist" value="2">WANIMA
                <input type="checkbox" name="artist" value="3">SHADOWS
                <input type="checkbox" name="artist" value="4">THE BONEZ
                <input type="checkbox" name="artist" value="5">RADWIMPS
                その他<input type="text" name="otherArtist">
            </p>
            <p>感想
                <input type="textarea" name="report">
            </p>
            <input type="submit" name="" id="" value="更新">


        </form>

    </div>
</body>

</html>