<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.LiveMapper">

	<select id="selectAll">
		SELECT
		schedules.id,
		schedules.created,schedules.place,
		schedules.artist,
		artists.name AS artistName
		FROM schedules
		JOIN artists
		ON
		artists.name = schedules.artist

	</select>

	<select id="selectById">
		SELECT
		schedules.id,
		schedules.created,schedules.place,
		schedules.artist,
		artists.name AS artistName
		FROM schedules
		JOIN artists
		ON artists.name =
		schedules.artist
		LIMIT #{offset}, #{limit}

	</select>

	<insert id="insert" parameterType="Member">
		INSERT INTO schedules
		(name,age,address,type_id,created)
		VALUES (#{name}, #{age}, #{address},
		#{typeId}, NOW())
	</insert>

	<update id="update" parameterType="Member">
		UPDATE schedules
		SET name = #{name}, age = #{age},
		address = #{address}, type_id = #{typeId}
		WHERE
		id = #{id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM schedules 
		WHERE id = #{id}
	</delete>


</mapper>