@charset "utf-8";



/* 初期化 */
ul {
	list-style-type: none;
}

* {
	box-sizing: border-box;
	/* 各要素がもつデフォルトのマージンを初期化 */
	margin: 0;
}

html {
	font-size: 62.5%; /* 62.5% = 10px ⇒ 文字サイズが計算しやすくなる */
	font-family: Roboto, 'Segoe UI', Arial, Meiryo, sans-serif;
}

body {
	/* .wrap の高さが100%になるために必要 */
	height: 100%;
}

body {
	background-image: url(/image/mirrorBall.jpg);
	background-size: cover;
}

.error {
	
	position: center;
	background:rgba(255,255,0,0.4) ;
	
	text-align: center;
	font-size: 20px;
	width:35%;
	margin: auto;
}

.wrap {
	background-color: black;
	max-width: 1200px;
	min-width: 700px;
	min-height: 100%;
	padding: 0 30px;
	/* 幅を決めて左右のマージンをauto にすると中央に配置できる */
	margin: 0 auto;
}

h1 {
	display: inline-block;
	font-size: 40px;
	letter-spacing: 1px; /*行間*/
	padding-top: 20px;
	color: white;
	text-shadow: 1px 2px 3px #919191;
}

h2 {
	color: white;
}

header .container {
	text-align: right;
	justify-content: space-between;
	align-items: baseline;
	justify-content: space-between;
	color: white;
	font-size: 20px;
}

.container a {
	text-decoration: none;
	color: white;
	background-color: #2b616d;
	padding: 1px 10px;
	border-radius: 10px;
}

nav {
	margin: 20px 0;
	background-image: url(/image/live3.jpg);
	background-position: center;
}

nav ul, nav a {
	display: flex;
	padding: 10px 20px;
}

nav ul li, nav a {
	padding: 30px;
	margin-right: 5px;
	color: black;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 2px 3px #919191;
}

nav a {
	display: block;
	height: 54px;
	text-decoration: none;
	color: #fff;
	font-weight: normal;
}

nav a:hover {
	color: black;
	font-weight: bold;
	transform: scale(1.5, 1.5);
}

.flex-container {
	display: flex;
}

main th {
	text-align: center;
	background-color: #b2dbd5;
	margin-bottom: 5px;
	padding: 5px 0;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-size: 1.5em; /* 20px */
}

#search input {
	margin: 10px;
	display: inline-block;
}

table {
	border-collapse: collapse; /* セルの線を重ねる */
}

#info-date {
	width: 10%;
}

#info-place {
	width: 7%;
}

#info-event-name {
	width: 15%;
}

#info-impression {
	text-align: left;
}

tr:nth-child(odd) {
	background-color: #ddd; /* 背景色指定 */
}

tr {
	background-color: #f8f5f2;
}

tr th {
	font-weight: bold;
	padding: 10px; /* 余白指定 */
}

td {
	padding: 10px; /* 余白指定 */
	font-size: 15px;
}

#live-information a {
	text-decoration: none;
	color: #2b616d;
}

#number {
	background-color: #b2dbd5; /* 背景色指定 */
	color: #fff; /* 文字色指定 */
	font-weight: normal; /* 文字の太さ指定 */
	position: relative; /* 位置指定 */
	z-index: 10; /* 重なり調整 */
}

form {
	width: 100%;
	padding: 10px 10px;
	background-color: #b2dbd5;
	text-align: center;
	/* 幅を決めて左右のマージンをauto にすると中央に配置できる */
	margin: 0 auto;
}

.edit {
	color: black;
	background-color: white;
}

.edit p {
	padding: 15px;
	font-size: 20px;
}

form input[type="text"], form input[type="date"] {
	margin: 20px auto;
	border: 2px solid #2b616d;
	padding: 15px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	text-align: center;
}

form input[type="text"]:focus {
	width: 280px;
	background-color: #ffffff;
}

form input[type="radio"], label {
	margin: 20px auto;
	padding: 20px;
}

form input[type="submit"] {
	border: 0;
	background: #2b616d;
	
	margin: 0 auto 20px auto;
	padding: 15px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
	text-align: center;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: white;
	color: black;
	border: 2px solid #2b616d;
}

textarea {
	border: 0;
	background: none;
	display: block;
	margin: 0px auto;
	border: 2px solid #2b616d;
	padding: 15px 10px;
	width: 200px 0;
	outline: none;
	border-radius: 24px;
}

/* チェックボックスデザイン */
input[type="radio"] {
	cursor: pointer;
	padding-left: 30px; /*label手前にチェックボックス用の余白を開ける*/
	vertical-align: middle;
	position: relative;
	cursor: pointer;
}

.member-list {
	width: 100%;
	margin: 0;
	padding: 20%;
}

#page-top {
	position: fixed;
	right: 5px;
	bottom: 20px;
	height: 50px;
	text-decoration: none;
	font-weight: bold;
	transform: rotate(90deg);
	font-size: 90%;
	line-height: 1.5rem;
	color: #ffffff;
	padding: 0 0 0 35px;
	border-top: solid 1px;
}

#page-top::before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 0px;
	width: 15px;
	border-top: solid 1px;
	transform: rotate(35deg);
	transform-origin: left top;
}

footer {
	bottom: 0; /* ページの下端に配置します。 */
	width: 100%; /* 幅をページの幅いっぱいに設定します。 */
	color: #fff; /* フッターのテキストカラーを設定します。 */
	padding: 10px 0; /* フッターの余白を追加します。 */
	text-align: center; /* フッター内のテキストを中央揃えにします。 */
}