@charset "utf-8";

/* ボックスの視覚化 */

/* 初期化 */
ul {
	list-style-type: none;
}

* {
	box-sizing: border-box;
	/* 各要素がもつデフォルトのマージンを初期化 */
	margin: 0;
}

html {
	font-size: 62.5%; /* 62.5% = 10px ⇒ 文字サイズが計算しやすくなる */
	font-family: Roboto, 'Segoe UI', Arial, Meiryo, sans-serif;
}

html, body {
	/* .wrap の高さが100%になるために必要 */
	height: 100%;
}

body {
	background-color: black;
}

.wrap {
	background-color: black;
	max-width: 1200px;
	min-width: 700px;
	min-height: 100%;
	padding: 0 30px;
	/* 幅を決めて左右のマージンをauto にすると中央に配置できる */
	margin: 0 auto;
}

h1 {
	display: inline-block;
	font-size: 40px;
	letter-spacing: 1px; /*行間*/
	padding-top: 20px;
	color: white;
	text-shadow: 1px 2px 3px #919191;
}

h2 {
	color: black;
	font-size: 20px;
}

header .container {
	text-align: right;
	justify-content: space-between;
	align-items: baseline;
	justify-content: space-between;
	color: white;
	font-size: 20px;
}

.container a {
	text-decoration: none;
	color: white;
	background-color: #2b616d;
	padding: 1px 10px;
	border-radius: 10px;
}

nav {
	margin: 20px 0;
	padding: 40px;
	background-image: url(/image/live3.jpg);
	background-position: center;
	padding: 40px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}

nav a:hover {
	color: black;
	font-weight: bold;
	transform: scale(1.5, 1.5);
}

main {
	display: flex;
	background-color: white;
	padding: 10px;
}

main th {
	text-align: center;
	background-color: #b2dbd5;
	margin-bottom: 5px;
	padding: 5px 0;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	font-size: 1.5em; /* 20px */
}

.member-list, .table {
	width: 100%;
}

tr:nth-child(odd) {
	background-color: #ddd; /* 背景色指定 */
}

tr {
	background-color: #f8f5f2;
}

tr th {
	font-weight: bold;
	padding: 10px; /* 余白指定 */
}

td {
	padding: 10px; /* 余白指定 */
	font-size: 1.5em;
}

.button {
	margin: 10px;
}

.button-glow {
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	border-radius: 10px;
	margin: 0 10px; /* 光る部分を空けるための余白 */
	padding: 0.5em 2em;
	line-height: 1.5;
	color: #525252;
	font-weight: bold;
	border: 1px solid #fff;
	animation: 1s glow infinite alternate;
	background: linear-gradient(#b2dbd5, #b2dbd5); /*　青 */
	box-shadow: 0 0 10px 3px rgba(68, 127, 255, 0.5)
}

.button-glow:hover {
	animation: 0.3s glow linear infinite alternate;
}

.button-glow:active, .button-glow:focus {
	background: #8080ff;
}

#page-top {
	position: fixed;
	right: 5px;
	bottom: 20px;
	height: 50px;
	text-decoration: none;
	font-weight: bold;
	transform: rotate(90deg);
	font-size: 90%;
	line-height: 1.5rem;
	color: #ffffff;
	padding: 0 0 0 35px;
	border-top: solid 1px;
}

#page-top::before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	left: 0px;
	width: 15px;
	border-top: solid 1px;
	transform: rotate(35deg);
	transform-origin: left top;
}