@charset "utf-8";

/* ボックスの視覚化 */
* {
outline: 1px solid aqua;
}


* {
box-sizing: border-box;
/* 各要素がもつデフォルトのマージンを初期化 */
margin: 0;
}

body {
	background: black url("/image/liveHouse.jpg") no-repeat center center;
	background-size:cover;
}

form {
	width: 400px;
	padding: 40px 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f47d4a;
	opacity:0.8;
	text-align: center;
	
	
}

form h1, form p {
	color: white;
	font-weight: 5000;
  
}



form p {
	font-size: 20px;
}

form input[type="text"], form input[type="password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	border: 2px solid #e1315b;
	padding: 15px 10px;
	width: 200px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
	text-align: center;
}

form input[type="id"]:focus, form input[type="password"]:focus {
	width: 280px;
	background-color: #ffffff;
}

form input[type="submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	border: 2px solid #ffffff;
	padding: 15px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 25px;
	transition: 0.25s;
	text-align: center;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: white;
	color:black;
	border: 2px solid #ff69b4;
}

.logout{
	width: 400px;
	padding: 40px 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f47d4a;
	opacity:0.8;
	text-align: center;
	
}



footer {
	position: absolute;
	text-align: center;
	width: 100%;
	padding : 5px;
	bottom: 0;
	color: white;
	padding: 5px;
}