<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>一覧</title>
<link rel="stylesheet" th:href="@{/css/home.css}">
</head>

<body>
	<div class="wrap">
		<header>
			<h1>Live Diary</h1>
			<h2>ライブ日程一覧</h2>

			<div class="container">

				<p th:text="'ようこそ、'+${session.member.name}+'さん'"></p>
				<p>
					<a th:href="@{/logout}">ログアウト</a>
				</p>
			</div>
			<!-- /.container -->

			<nav>
				<ul>
					<li>ライブ日程一覧</li>
					<li id="live-edit"><a th:href="@{/live/edit}">鑑賞予定のライブ日程の登録</a></li>
					<li id="member"><a th:href="@{/member}">閲覧者の登録</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<div class="flex-container">
				<form th:action="@{/live}" method="post">
					<p th:text="${notDate}"></p>
					<input type="date" name="date" placeholder="例）2023-01-01" /> 
					<input type="submit" value="検索" />

					<table class="table">

						<tr>
							<th id="number">NO.</th>
							<th>日程</th>
							<th>開催場所</th>
							<th>イベント名</th>
							<th><small>目当ての</small>アーティスト</th>
							<th>感想</th>
							<th></th>

						</tr>

						<tr id="live-information" th:each="schedule : ${schedules}">
							<td id="number">[[${schedule.id}]]</td>
							<td id="info-date">[[${#temporals.format(schedule.date,
								'yyyy年 MM月dd日')}]]</td>
							<td id="info-place">[[${schedule.place}]]</td>
							<td id="info-event-name">[[${schedule.eventName}]]</td>
							<td>[[${schedule.name}]]</td>
							<td id="info-impression">[[${schedule.impression}]]</td>

							<td id="edit"><a
								th:href="@{/live/edit/{id}(id=${schedule.id})}">編集</a></td>
							<td id="delete"><a
								th:href="@{/live/edit/{id}/delete(id=${schedule.id})}">削除</a></td>

						</tr>

					</table>
					<p th:text="${statusMessage}"></p>

				</form>
			</div>
			<!-- /.flex-container -->
			<div class="top">
				<a href="#" id="page-top">TOP</a>
			</div>
		</main>



		<footer>
			<p>このサイトはあくまでも個人の意見です</p>
			<p>
				<small>Copyright Tokyo Kanko Inc. 2020 All Rights Reserved.</small>
			</p>
		</footer>
	</div>
	<!-- /.wrap -->
</body>

</html>